extends layout
block content
    nav.navbar.navbar-light.bg-faded
        a.navbar-brand
            img(src="http://wiki.letv.cn/download/attachments/524290/atl.site.logo?version=9&modificationDate=1472541696000&api=v2",style="max-height: 24px;")
        ul.nav.navbar-nav
            each menu in menus
                li.nav-item
                    a.nav-link(href=menu.url)= menu.name
